body {
  background-color: $bg_color;
  justify-content: center;
  margin: 0;
}

nav {
  position: sticky;
	top: 0;
  width: 100%;
  background-color: $bg_color;
  height: auto;
  box-shadow: $box_shadow;
  font-size: larger;

  /*No selection*/
  -webkit-user-select: none; /* Webkit*/
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Chromium */

  label {
    position: absolute;
    float: right;
    top: 0;
    right: $padding;
    z-index: 1;
    font-size: xx-large;
    color: $accent_color;
    }
  }

.area {
  position: relative;
  width: $threshold;
  max-width: 100%;
  margin: 0 auto 0 auto;
}

#menu {
    margin: 0;
    padding: 0;
    list-style-type:none;
    li {
      font-family: $font;
      a, i {
        text-decoration: none;
        color: $accent_color;
      }
    }
  }

#menu li:not(#title):not(#theme_switch) :hover {
  transition: .6s;
  font-weight: bold;
  text-shadow: $text-shadow;
  color: $hover_color;
}

#title {
  font-size: 1.5em;
  font-weight: bold;
}

@media all and (max-width: 640px) {
  #menu {
    padding-left: $padding;
    li {
      padding: $smaller_padding;
    }
    li:not(#title) {
      font-size: larger;
    }
  }
  #menu li:not(#title), #hamburger { 
    display: none;
  }
  #hamburger:checked ~ #menu li:not(#title) {
  display:block;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  }
  
  @keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
  }
}

@media all and (min-width: 641px) {
  nav {
    padding: $smaller_padding 0 $smaller_padding 0;
  }
  #menu {
    display: flex;
    justify-content: flex-end;
    li:not(#title) { 
      padding: $padding;
      padding-left: $bigger_padding;
      padding-right: 0;
      font-size: 1.2em;
      display:inline; 
    }
  }
  #title {
    position: absolute;
    padding: $smaller_padding * 1.25 0 0 0;
    left: 0;
    top: 0;
  }
  nav label, #hamburger {
    display: none;
  }
}

div {
  p {
    padding-top: $smaller_padding;
    margin: 0 auto 0 auto;
    width: $threshold;
    color: $fg_color;
    max-width: 100%;
  }
  img {
    max-width: 80%;
  }
}

.footer {
  color: $fg_color;
  margin: 0 auto 0 auto;
  width: 100%;
}

@import "content"