body {
  background-color: white;
  justify-content: center;
  margin: 0;
}

nav {
  position: sticky;
	top: 0;
  width: 100%;
  background-color: white;
  height: auto;
  box-shadow: 1px 1px 5px gray;
}

nav label {
  position: static;
  float: right;
  right: 5px;
  font-size:x-large;
  z-index: 1;
}

.area {
  position: relative;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto 0 auto;
}

nav a,i, label {
  font-size: x-large;
  padding-right: 8px;
  color: black;
  /* TODO: make the font configurable in config.toml */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}

#menu {
    margin: 0;
    padding: 0;
    list-style-type:none;
  }

@media all and (max-width: 640px) {
  #menu li:not(#title), #hamburger { 
    display: none;
  }
  
  #hamburger:checked ~ #menu li:not(#title) {
  display:block;
}
  

}
@media all and (min-width: 641px) {
  #menu {
    display: flex;
    justify-content: flex-end;
  }
  
  #menu li { 
    display:inline; 
  }

  #title {
  position: absolute;
  left: 8px;
  }

  nav label, #hamburger {
    display: none;
  }
  
  
}

div p {
  padding-top: 5px;
  margin: 0 auto 0 auto;
  width: 1280px;
  max-width: 100%;
}
div img {
  max-width: 80%;
}

.gray-bg {
  background-color: gray;
  /* debuging purposes*/
  min-height: 50px;
}
.footer {
  margin: 0 auto 0 auto;
  width: 100%;
}

