<nav>
    <div class="area">
        {{ $currentPage := . }}
        <label for="hamburger">&#9776;</label>
        <input type="checkbox" id="hamburger"/>
        <ol id="menu">
            <li id="title">
                <a href="{{.Site.BaseURL }}">{{ .Site.Title }}</a>
            </li>
            {{ with .Site.GetPage "about" }}
            <li>
                <a href="{{.Site.BaseURL }}#about">About</a>
            </li>
            {{ end }}
            {{ range .Site.Menus.main }}
            <li>
                <a class="sidebar-nav-item{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{ end }}"
                   href="{{ .URL }}"
                   title="{{ .Title }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ with .Site.GetPage "contact" }}
            <li>
                <a href="{{.Site.BaseURL }}#contact">Contact</a>
            </li>
            {{ end }}
            <li>
                <i class="fa fa-moon-o" id="switch_theme" aria-hidden="true" onclick="switch_mode()"></i>
            </li>
        </ol>
    </div>
</nav>
<script>
function switch_mode() {
    const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)').matches;
    let icon = document.getElementById("switch_theme").classList;
    let link = document.getElementsByTagName("link").item(darkModeMediaQuery);
    if (icon[1] == "fa-moon-o") {
        {{ $light := resources.Get "sass/_light.scss" | resources.ExecuteAsTemplate "light.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
        link.href="{{$light.RelPermalink}}"
        icon.replace("fa-moon-o", "fa-sun-o");
    } else {
        {{ $dark := resources.Get "sass/_dark.scss" | resources.ExecuteAsTemplate "dark.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
        link.href="{{$dark.RelPermalink}}"
        icon.replace("fa-sun-o", "fa-moon-o");
    }
}
</script>
