<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="dark light">

{{ $light := resources.Get "sass/_light.scss" | resources.ExecuteAsTemplate "light.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
{{ $dark := resources.Get "sass/_dark.scss" | resources.ExecuteAsTemplate "dark.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: light)" href="{{ $light.RelPermalink }}" />
<link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{{ $dark.RelPermalink }}" />

<!--css-->

<!--link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet" media="all"-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

<!-- js-->
{{ $built := resources.Get "js/main.js"| resources.ExecuteAsTemplate "main.js" . | js.Build "main.js" }}
<script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>

